@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  --color-text: #232323;
  --color-text2: #ffffff;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
}
a {
  text-decoration: none;
}
.container2 {
  margin-left: 180px;
  margin-right: 180px;
}
